* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  align-items: start;
  justify-items: center;
}

.shopping-list {
  background: #23424a;
  color: white;
  width: 80%;
  padding: 2em;
  margin: 4em auto;
}

.shopping {
  text-align: center;
}

.shopping-item input[type='checkbox']:checked + .item-name {
  opacity: 0.5;
}
